@model FirstMVCProj.Models.Manager

@{
    ViewData["Title"] = "AddManager";
}

<h1>AddManager</h1>

<h4>Manager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Manager_Id" class="control-label"></label>
                <input asp-for="Manager_Id" class="form-control" />
                <span asp-validation-for="Manager_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager_Name" class="control-label"></label>
                <input asp-for="Manager_Name" class="form-control" />
                <span asp-validation-for="Manager_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Manager" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
