@page
@model WFM_Web_App.Pages.SoftLockRequestDataModel
@{
}

<div class="container">
<h4 style="text-align:center"><b>SOFTLOCK REQUEST</b></h4>

<form style="text-align:center">
  <p><label for="text">Please confirm the lock request for the Employee</label></p>
  <textarea id="requestdata" name="requestdata" rows="10" cols="70"></textarea>
  <br>
  <input type="submit" id="submit" value="Submit" class="btn btn-success">
</form>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></Script>
<script src="~/js//SoftLockRequest.js"></script>