@page
@model WFM_Web_App.Pages.SoftLockDataModel
@{
}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<Script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></Script>
<div> Awaiting Request </div>
<table class="table">
    <thead style="background-color: cadetblue">
    <th>Employee ID</th>
    <th>EmployeeName</th>
    <th>Manager</th>
    <th>Request Message</th>
    <th>Manager Status</th>
    <th>Request Date</th>
    </thead>
    <tbody id="tbody">
    </tbody>

</table>

<script src="~/js//SoftLock.js"></script>