@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
body {font-family: Arial, Helvetica, sans-serif;}


button:hover {
  opacity: 0.8;
}
label 
{
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}




</style>

<div class="text-center">
    <form>

  <div class="container">
      <div>
          <label for="Username"><b>Username:</b></label>
          <input name="Username" id="uname" placeholder="Enter Username" required/>
      </div>
      <div>
          <label for="psw"><b>Password:</b></label>
          <input name="Username" type="password" placeholder="Enter Password" id="psw" required/> 
      </div>
    

    

    <button type="submit" id="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
</form>
</div>

<script src="~/js//apicall.js"></script>
